*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Montserrat Alternates', sans-serif;
}
html{
    scroll-behavior: smooth;
}
header, main, footer {display: block;}

header{
    width: 1200px;
    height:150px;
    padding: 10px;
    text-align: center;
    margin: auto auto ;

}

nav{
    text-align: right;
    display: block;
    padding-top: 50px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    width: 180px;
    display: inline-block;
}

nav ul li a{
    display: block;
    background-color: lightcoral;
    color: darkred;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    
}

nav ul li a:hover{
    color: lightpink;
    background-color: darkred;

    
}
header figure{
    width: 300px;
    text-align: left;
    float: left;
}

#imgHeader{
    height: 150px;
    
}

#portada{
    height: 470px;
    background-image: url(../img/f1.jpeg);
    background-size: cover ;
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
  
}

#textoPortada{
    width: 800px;
    text-align: center;
    margin: auto auto ;
    padding-top: 330px;
    color: white;
    
}


main{
    width: 1200px;
    margin: auto auto ;
}

h2{
    text-align: center;
    margin: 30px;
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
}

#promos article{
    width: 560px;
    display: inline-block;
    text-align: left;
     margin: auto 20px;

}
#promos article figure{
    width: 100%;
    height: 280px;
    margin-top: 10px;
    margin-bottom: 10px;
}
article h3{
margin-top: 20px;
margin-bottom: 10px;
}
#promos article input{
    margin-left: 215px;
}


input, select{
    
    color: lightpink;
    background-color: darkred;
    text-decoration: none;
    padding: 5px;
    text-transform: uppercase;
    width: 100px;
    border: 0px;
}

input:hover, input[type=submit]:hover{
    background-color: lightcoral;
    color: darkred;
}
.datos{
    text-align: left;
    display: inline-block;
    margin-top: 15px;
}

.imgPromo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 190px 190px;
    grid-gap: 10px;
    padding: 10px;
    
  }

section figure:nth-child(1){
    grid-column: 1;
    grid-row: 1 / 3;

}

section figure:nth-child(4){
    grid-column: 4;
    grid-row: 1 / 3;

}

.gridImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

form {
    width: 450px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 60px 60px 60px;
    margin: auto;
    margin-left: 400px;
}
form fieldset:nth-child(3){
    grid-column: 1 / 3;
    grid-row: 2;
}
form fieldset:nth-child(4){
    grid-column: 1 / 3;
    grid-row: 3;
}
fieldset{
    border: 0;
}
form input{
    display: block;
    width: 180px;
    background-color: lightcoral;
    color: darkred;
    text-align: center;
}

form input[type=submit]{
    display: block;
    width: 100px;
    color: lightpink;
    background-color: darkred;
    margin: 10px auto;
  
}
select{
    width: 390px;
    background-color: lightcoral;
    color: darkred;
    text-align: center;
    text-decoration: none;
    margin: auto auto;
}


#tarifas article{
    text-align: left;
    display: inline-block;
    width: 260px;
    height: 300px;
    margin: 15px;
}
#tarifas article figure{
    width: 260px;
    height: 280px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#tarifas article input{
    display: inline-block;
    margin-left: 27px;
}




footer{
    background-color: rgb(146, 105, 105);
    color: beige;
    width: 100%;
    height:60px;
    padding: 25px;
    display: block;
    padding-top: 50px;
}

footer ul{
    list-style-type: none;
    width: 1200px;
    margin: auto auto;
    text-align: right;

}

footer ul li{
    display: inline-block;


}
footer ul li p{
    text-align: left;
    display: inline-block;
}

footer img{
    display: block;
    height: 30px;
}